<template name="Card">
    <div {{blazeui_atts}}>{{> Template.contentBlock}}</div>
</template>
<template name="CardTitle">
    <h3 {{blazeui_atts}}>{{> Template.contentBlock}}</h3>
</template>
<template name="CardHeader">
    <div {{blazeui_atts}}>{{> Template.contentBlock}}</div>
</template>
<template name="CardDescription">
    <p {{blazeui_atts}}>{{> Template.contentBlock}}</p>
</template>
<template name="CardContent">
    <div {{blazeui_atts}}>{{> Template.contentBlock}}</div>
</template>
<template name="CardFooter">
    <div {{blazeui_atts}}>{{> Template.contentBlock}}</div>
</template>
