<template name="Headline1">
    <h1 {{blazeui_atts}}>{{> Template.contentBlock}}</h1>
</template>
<template name="Headline2">
    <h2 {{blazeui_atts}}>{{> Template.contentBlock}}</h2>
</template>
<template name="Headline3">
    <h3 {{blazeui_atts}}>{{> Template.contentBlock}}</h3>
</template>
<template name="Headline4">
    <h4 {{blazeui_atts}}>{{> Template.contentBlock}}</h4>
</template>
<template name="Headline5">
    <h5 {{blazeui_atts}}>{{> Template.contentBlock}}</h5>
</template>
<template name="Headline6">
    <h6 {{blazeui_atts}}>{{> Template.contentBlock}}</h6>
</template>
