<template name="Header">
    <header class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
        <div class="container flex h-14 max-w-screen-2xl items-center">
            <div class="mr-4 hidden md:flex">
                <a class="mr-4 flex items-center space-x-2 lg:mr-6" href="/">
                    <span class="hidden font-bold md:inline-block">BlazeUI</span>
                </a>
            </div>
            <div class="flex items-center ml-auto">
                <a target="_blank" rel="noreferrer" href="https://github.com/blazeui/blazeui">
                    <div class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground py-2 h-8 w-8 px-0">
                        <span class="fa-brands fa-github w-4 h-4"></span>
                        <span class="sr-only">GitHub</span>
                    </div>
                </a>
                {{#Toggle id="theme-toggle" defaultPressed=isDark}}
                    {{#with this.pressed}}
                        <span>
                            <span class="fa-solid fa-moon w-4 h-4"></span>
                        </span>
                    {{else}}
                        <span>
                            <span class="fa-solid fa-sun w-4 h-4"></span>
                        </span>
                    {{/with}}
                {{/Toggle}}
            </div>
        </div>
    </header>
</template>